#header, #footer{width: 100%; background-color: orangered;}
h4 {font-size: 28px; font-weight: 600; text-align: center;}

/* tab */
.tab_wrap [class*='tab_type'] {display:flex;}
.tab_wrap [class*='tab_type'] > li {flex:1;}
.tab_wrap [class*='tab_type'] > li a {display:block;}

.tab_type_01 li + li {border-left:1px solid #fff;}
.tab_type_01 li a {padding:10px 0; font-size:14px; font-weight:500; background-color:#efefef; text-align:center;}
.tab_type_01 li.current a {color:#ff7200; background-color:#fff; border-top:1px solid #ff7200;}
