input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="url"], input[type="search"], input[type="file"], textarea {height:42px; padding:0 15px; background-color:#fff; border:1px solid #e8e5e2; border-radius:0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}

select {background-color:#fff; border:0; border-radius:0;}

.multi_form {display:flex; flex-wrap:wrap; align-items:center; gap:8px;}
.multi_form label {flex:1;}
.multi_form + em {display:none;}
.multi_form.err + em {margin-top: 5px;color: #ff7200; font-size: 12px; font-family: 'Noto Sans'; line-height: 18px; display:block;}

label.input, label.select {position:relative; display:block; flex:1;}
label.input i {color:#aaa; font-size:16px; font-style:normal; line-height:18px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; position:absolute; top:11px; right:0; left:15px;}/* placeholder */
label.input input[type='text'], label.input input[type='password'], label.input input[type='number'] {width:100%; font-size:16px; font-family:'MyLotte'; line-height:18px;}
label.input > em {margin-top:5px; color:#ff7200; font-size:12px; font-family:'Noto Sans'; line-height:18px; display:none;}
label.input.err > em {display:block;}
label.input * {flex:1 auto;}

label.input button[class*='icon_'] {width:24px; height:24px; font-size:0; background-repeat:no-repeat; position:absolute; top:10px; right:10px; z-index:1; display:none;}
label.input button[class*='icon_'] + button[class*='icon_'] {margin-right:34px;}
label.input button.icon_del {background:url('../images/common/icon_search_del.png') 50% no-repeat; background-size:cover; border:0;}
label.input button.icon_pss.active, label.input  button.icon_pss {background-size:cover;}
label.input button.icon_pss.active {background-image:url('../images/common/icon_pass_view.png');}
label.input button.icon_pss {background-image:url('../images/common/icon_pass_hide.png'); border:0;}
.select select{width:100%; height:42px; padding:0 20px 0 10px; border:1px solid #e8e5e2;}

.label_wrap {position:relative; flex:1; display:flex; gap:10px;}

.label_wrap label + label {margin-top:10px;}

.check_group {margin-top:-20px; margin-left:-20px;}
.check_group .check {margin-top:20px; margin-left:20px;}

.check {padding-left:20px; line-height:1; position:relative; display:inline-block;}
.check > * {line-height:1.4; vertical-align:middle; display:inline-block;}
.check input {margin:0 0 0 1px; border:0; position:absolute;}
.check .label:before, .check .label:after {content:''; position:absolute; display:inline-block;}

/* radio */
.check input[type='radio'], .check input[type='radio'] + .label:before {width:16px; height:16px; background-color:#fff; border:1px solid #ccc; border-radius:50%; top:3px; left:0;}
.check input[type='radio']:checked + .label:after {width:10px; height:10px; background-color:#333; border-radius:50%; top:6px; left:3px;}

/* checkbox */
.check input[type='checkbox'], .check input[type='checkbox'] + .label:before {width:16px; height:16px; background-color:#fff; border:1px solid #ccc; top:3px; left:0;}
.check input[type='checkbox']:checked + .label:after {width:7px; height:12px; border:2px solid #333; border-top:0; border-left:0; top:3px; left:5px; -webkit-transform:rotate(45deg); transform:rotate(45deg);}

.check input[type='radio'], .check input[type='checkbox'] {margin-left:0;}

.check_ani {position:relative; display:inline-block;}
.check_ani input {width:42px; height:22px; margin:0 0 0 1px; position:absolute;}
.check_ani em {min-height:22px; padding-left:48px; position:relative; display:block;}
.check_ani input[type='checkbox'] + em:after {content:''; width:18px; height:18px; background-color:#fff; border-radius:50%; position:absolute; top:50%; left:2px; z-index:1; display:block; transform:translateY(-50%); transition:all 0.2s;}
.check_ani input[type='checkbox']:checked + em:before {background-color:#ff7200;}
.check_ani em:before {content:''; width:42px; height:22px; background-color:#ccc; border:0; border-radius:60px; position:absolute; top:0; left:0; display:inline-block;}
.check_ani input[type='checkbox']:checked + em:after {left:22px;}

.form_group > li + li {padding-top:20px;}
.form_group .form_tit {margin-top:0; margin-bottom:6px; font-size:14px !important; font-family:'Noto Sans'; line-height:20px !important; text-align:left !important;}
.form_group .form_tit em {color:#888; font-weight:400; display:inline-block;}
.form_group .form_tit.required:after {margin-left:2px; color:#d60812; font-size:14px; content:'*'; display:inline-block;}