/* header */
header {width:100%; position:fixed; top:0; left:0; right:0; z-index:1;}
header h1 {width:95%; padding:1% 0; color:#fff; font-size:18px; font-weight:600; text-align:center;}
header ul {color:#fff; font-weight:600; border-top:2px solid #d4d4d4; display:flex; align-items:center;}
header ul li {width:150px; padding:10px 0; box-sizing:border-box; text-align:center; border-right:1px solid #fff; float:left;}
li:active {color:#000; background-color:#eee;} 

/* button */
[class*='btn_'] {border:1px solid transparent; vertical-align:middle; display:inline-block;}

/* button size */
[class*='btn_min'] {height:32px; padding:0 10px; font-size:13px; font-weight:500; line-height:30px;}
[class*='btn_mid'] {height:42px; padding:0 10px; font-size:14px; font-weight:500; line-height:40px;}
[class*='btn_large'] {height:50px; padding:0 15px; font-size:18px; font-weight:500; line-height:48px;}

/* button color */
.btn_confirm {color:#fff; background-color:#333;}
.btn_cancel {border-color:#333;}
.btn_ok {color:#fff; background-color:#333;}
.btn_list {border-color:#333;}

/* topbtn*/
#container {width:95%; margin:10% auto; position:relative;}

/* gnb_hover */
.gnb_hover {padding:2%; border:2px solid red; box-sizing:border-box;}
.gnb_list {display:flex; justify-content:space-between; align-items:center;}
.gnb_list li {width:50%; padding:1% 0; box-sizing:border-box; text-align:center; position:relative;}
.gnb_list a {font-weight:600; transition:color 0.3s;}
.gnb_list a::after{content:''; width:0; height:2px; background-color:red; position:absolute; left:50%; bottom:0; z-index:1; display:block; transform:translateX(-50%); transition:width 0.5s;}
.gnb_list li:hover a {color:red;}
.gnb_list li:hover a::after{width:40%;}

.count {font-size:26px; font-weight:700;}

/* modal */
[id*='modal'] {background-color:rgba(0,0,0,0); text-align:center; opacity:0; position:fixed; top:50%; right:50%; bottom:50%; left:50%; z-index:100; display:block; overflow:hidden; transition:opacity 0.15s ease-out;}
[id*='modal'].active {background-color:rgba(0,0,0,0.7); opacity:1; top:0; right:0; bottom:0; left:0;}
[id*='modal']:before {height:100%; vertical-align:middle; content:''; display:inline-block;}
[id*='modal'] .modal_wrap {padding:20px; background-color:#fff; text-align:left; vertical-align:middle; display:inline-block;}
.modal_header {margin-bottom:10px; padding-bottom:5px; font-size:18px; font-weight:700; border-bottom:1px solid #333; position:relative;}
.modal_header .btn_close {width:25px; height:25px; font-size:0; position:absolute; top:0; right:0; display:inline-block;}
.modal_heafder .btn_close:before, .modal_header .btn_close:after {width:30px; border-top:1px solid #333; content:''; position:absolute; top:50%; right:-4px; display:inline-block;}
.modal_header .btn_close:before {transform:rotate(45deg);}
.modal_header .btn_close:after {transform:rotate(-45deg);}
.modal_bottom {margin-top:20px; padding-top:20px; border-top:1px dashed #ccc; text-align:center;}

/* modal size */
.modal_wrap {max-width:96%;}
.modal_wrap.small {width:450px;}
.modal_wrap.mid {width:650px;}
.modal_wrap.full {width:98%;}

/* toast */
.toast {height:50px; line-height:48px; background-color:#fff; border:1px solid #d4d4d4; border-radius:50px; box-shadow:0 4px 6px rgba(0,0,0,0.3); opacity:0; position:fixed; bottom:0px; left:50%; z-index:1; display:inline-block; transform:translateX(-50%); transition:all 0.35s;}
.toast.confirm {padding:0 50px 0 40px;}
.toast.auto {padding:0 40px;}
.toast.active {bottom:100px; opacity:1;}
.toast .btn_close {width:20px; height:20px; font-size:0; position:absolute; top:50%; right:20px; display:inline-block; transform:translateY(-50%);}
.toast .btn_close:before, .toast .btn_close:after {width:15px; border-top:1px solid #333; content:''; position:absolute; top:50%; right:0; display:inline-block;}
.toast .btn_close:before {transform:rotate(45deg);}
.toast .btn_close:after {transform:rotate(-45deg);}

/* Hamberger_Menu */
.hamber_btn{width:50px; height:50px; position:absolute; left:20px; top:20px; cursor:pointer;}
.hamber_btn>span{width:50px; height:8px; margin:4px 0 ; background:#000; border-radius:10px; display:block; transition:all 0.5s;}
.hamber_btn>.on:nth-child(1) {transform:translateY(15px) rotate(225deg); transition-delay:0.2s; }
.hamber_btn>.on:nth-child(2) {opacity:0; transform:translateX(50px);}
.hamber_btn>.on:nth-child(3) {transform:translateY(-11px) rotate(-225deg); transition-delay:0.2s; }

/* scroll_down */
.content > section:first-child{height:1000px; border:2px solid blue ; position:relative;}
div.scroll_icon{width:6%; height:5%; font-weight:600; text-align: center; opacity: 0.7; position:absolute; left:50%; transform:translateX(-50%);}
.scroll_icon img{width:50px; transform:rotate(90deg);}
.scroll_down{position:relative; animation-name: scroll_down; animation-duration: 2s; animation-iteration-count: infinite;}
.content .scroll_icon.show{opacity:0; transition:opacity 1s, transform 1s;}

@keyframes scroll_down {
  0%{top:0px;}
  75%{top:30px;}
  100%{top:0px;}
}

/* card new layout */
.card_layout{position:relative;}
.card_layout .design_box ul{height:100%; overflow:hidden; display:flex; justify-content:space-around; align-items: center;}
.card_layout .design_box li {position:relative;}
.card_layout .design_box li p:first-of-type{font-weight:600; position:absolute; top:10px; opacity:0; transition: all 0.2s;}
.card_layout .design_box li p:last-of-type{font-weight: 600; position:absolute; bottom:-20px; left:10px; transition: all 0.4s;}
.card_layout .design_box button{width:80px; height:80px; padding: 2%; color:#fff; font-weight:600; background-color:orange; border-radius:50%; position:absolute; right:0px; bottom:0; opacity:0; transform: translateX(50px); transition:all 0.4s;}
.card_layout .design_box img{transition:border-radius 0.6s}
/* hover 시 */
.card_layout .design_box li:hover p:first-of-type{opacity:1}
.card_layout .design_box li:hover p:last-of-type{bottom:5px; opacity:0}
.card_layout .design_box li:hover button{opacity:1; transform: translateX(0px);}
.card_layout .design_box li:hover img{border-radius: 80% 5% 25% 5%;}


/*  */
/* bottom button section */
.btnSection {margin-top:50px; text-align:center;}

/* paging */
.paging {margin-top:50px; text-align:center;}
.paging > div {display:inline-block;}
.paging > div:after {clear:both; content:''; display:block;}
.paging > div > * {width:40px; height:40px; margin:0 2px; color:#555; font-size:14px; line-height:38px; border:1px solid #e8e5e2; vertical-align:middle; float:left; position:relative; display:inline-block; transition:all 0.35s;}
.paging > div > *:hover {color:#fff; background-color:#666; border-color:#666;}
.paging > div strong {color:#fff; background-color:#666; border-color:#666;}
.paging .first, .paging .prev, .paging .next, .paging .last {font-size:0;}
.paging .first:before, .paging .prev:before, .paging .next:before, .paging .last:before {width:8px; height:8px; border-top:1px solid #666; border-right:1px solid #666; vertical-align:middle; content:''; display:inline-block;}
.paging .first:hover:before, .paging .prev:hover:before, .paging .next:hover:before, .paging .last:hover:before, .paging .first:hover:after, .paging .last:hover:after {border-color:#fff;}
.paging .first:after, .paging .last:after {width:8px; height:8px; border-top:1px solid #666; border-right:1px solid #666; vertical-align:middle; content:''; display:inline-block;}
.paging .first:before, .paging .first:after, .paging .prev:before {margin-right:-3px; transform:rotate(-135deg);}
.paging .next:before, .paging .last:before, .paging .last:after {margin-left:-3px; transform:rotate(45deg);}
.paging .prev {margin-right:16px;}
.paging .next {margin-left:16px;}

/* result & search */
.board_info_wrap {margin-bottom:20px;}
.board_info_wrap:after {clear:both; content:''; display:block;}
.board_info_wrap .result_count {margin-top:10px; float:left;}
.board_info_wrap .search_wrap {float:right; position:relative; display:flex;}
.board_info_wrap .search_wrap input[type='text'] {height:42px; margin-left:5px; padding-right:45px; vertical-align:middle;}
.board_info_wrap .search_wrap .btn_search {width:40px; font-size:0; background-color:#ff7200; position:absolute; top:0; right:0; bottom:0;}
.board_info_wrap .search_wrap .btn_search:before {width:12px; height:12px; margin-top:-2px; margin-left:-2px; border:2px solid #fff; border-radius:50%; content:''; position:absolute; top:50%; left:50%; display:inline-block; transform:translate(-50%, -50%);}
.board_info_wrap .search_wrap .btn_search:after {height:8px; margin-top:4px; margin-left:8px; border-left:2px solid #fff; content:''; position:absolute; top:50%; left:50%; display:inline-block; transform:rotate(-45deg) translate(-50%, -50%);}

/* select_form*/
.select_form select{height:42px;}

/* board */
[class*='board_type_list'] > ul > li {width:100%; display:table; table-layout:fixed;}
[class*='board_type_list'] > ul > li > * {display:table-cell;}

[class*='board_type_list'] > ul.header {text-align:center;}

.board_type_list01 {border-top:3px solid #333; text-align:center;}
.board_type_list01 > ul > li {border-bottom:1px solid #cdcdcd;}
.board_type_list01 > ul > li > * {height:60px; padding:10px 20px; color:#333; vertical-align:middle;}
.board_type_list01 > ul.body > li > .subject {text-align:left;}
.board_type_list01 > ul.body > li > .subject a {font-weight:500; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block;}

.board_type_list01 > ul > li > .no {width:80px;}
.board_type_list01 > ul > li > .w_date {width:110px;}
.board_type_list01 > ul > li > .writer {width:110px;}

.board_type_gallery {padding-top:20px; border-top:1px solid #333;}
.board_type_gallery ul.body {margin-top:-20px; margin-left:-20px;}
.board_type_gallery ul.body:after {clear:both; content:''; display:block;}
.board_type_gallery ul.body > li {width:25%; padding-top:20px; padding-left:20px; float:left;}
.board_type_gallery ul.body > li > * {border:1px solid #e8e5e2; display:block;}
.board_type_gallery .thumb {height:150px; background-color:#f1f1f1; background-position:50%; background-repeat:no-repeat; background-size:cover; text-align:center; display:block;}
.board_type_gallery .thumb:after {height:100%; vertical-align:middle; content:''; display:inline-block;}
.board_type_gallery .thumb em {max-width:97%; color:#cfcfcf; font-size:24px; font-weight:700; vertical-align:middle; display:inline-block;}
.board_type_gallery .board_cont {padding:20px;}
.board_type_gallery .board_cont > * {display:block;}
.board_type_gallery .board_cont .subject {font-size:20px; font-weight:500;}

.board_type_toggle {border-top:1px solid #333; border-bottom:1px solid #333;}
.board_type_toggle > dt {border-top:1px solid #e8e5e2; position:relative;}
.board_type_toggle > dt:before, .board_type_toggle > dd:before {font-size:28px; font-weight:500; position:absolute; top:5px; left:20px;}
.board_type_toggle > dt:before {content:'Q';}
.board_type_toggle > dd:before {content:'A';}
.board_type_toggle > dt a {padding:15px 15px 15px 70px; font-size:18px; display:block;}
.board_type_toggle > dd {padding:15px 15px 15px 70px; line-height:1.5; background-color:#f2f2f2; border-top:1px solid #dbdbdb; position:relative; display:none;}

.sticky_gallery {width:100%; margin-top:20px; box-sizing:border-box; min-height:100px;}
.sticky_gallery ul {position:relative;}
.sticky_gallery ul:after {display:block; clear:both; content:"";}
.sticky_gallery ul li {display:inline-block; position:absolute; transition:all 0.5s;}
.sticky_gallery ul li img {display:block; width:100%;}


/* 미디어쿼리 */
@media screen and (max-width:768px){
	/* input */
	input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="url"], input[type="search"], input[type="file"], textarea {height:32px; line-height:30px;}

	/* button */
	[class*='btn_min'] {height:26px; font-size:12px; line-height:24px;}
	[class*='btn_mid'] {height:36px; font-size:13px; line-height:34px;}
	[class*='btn_large'] {height:40px; font-size:16px; line-height:38px;}

	/* select */
	.select_form dl {display:none;}
	.select_form {background-color:#fff; border:1px solid #e8e5e2; vertical-align:middle; display:inline-block; position:relative;}
	.select_form:after {width:4px; height:4px; margin-top:-4px; border-right:2px solid #353535; border-bottom:2px solid #353535; content:''; position:absolute; top:50%; right:8px; display:inline-block; transform:rotate(45deg); transition:all 0.2s;}
	.select_form select {height:30px; padding:0 20px 0 10px; line-height:28px; background-color:#fff; display:block;}

	/* result * search */
	.board_info_wrap .result_count {margin-top:6px; font-size:13px;}
  .board_info_wrap .search_wrap {float:right;}
	.board_info_wrap .search_wrap .btn_search {width:32px;}
	.board_info_wrap .search_wrap .btn_search:before {width:9px; height:9px;}
	.board_info_wrap .search_wrap .btn_search:after {height:6px;margin-top:3px; margin-left:7px;}
	.board_info_wrap .search_wrap input[type='text'] {padding-left:5px; padding-right:40px; vertical-align:middle;}

	/* paging */
	.paging > div > * {width:30px; height:30px; line-height:28px;}
	.paging .first:before, .paging .prev:before, .paging .next:before, .paging .last:before {width:5px; height:5px;}
	.paging .first:after, .paging .last:after {width:5px; height:5px;}
	.paging .next:before, .paging .last:before, .paging .last:after {margin-left:-1px;}
	.paging .first:before, .paging .first:after, .paging .prev:before {margin-right:-1px;}

	/* tab */
	.tab_type_01 a {padding:6px 0; font-size:13px;}

	/* board */
	.board_type_list01 > ul > li > * {height:40px; padding:10px;}

	.board_type_gallery ul.body > li {width:50%;}
	.board_type_gallery .thumb em {font-size:20px;}
	.board_type_gallery .board_cont {padding:10px 15px;}
	.board_type_gallery .board_cont .subject {font-size:18px;}

	.board_type_toggle > dt:before, .board_type_toggle > dd:before {font-size:24px; top:2px;}
	.board_type_toggle > dt a, .board_type_toggle > dd {padding:10px 10px 10px 50px;}
	.board_type_toggle > dt a {font-size:16px;}

}

@media screen and (max-width:765px){
	.board_info_wrap .result_count, .board_info_wrap .search_wrap {float:none;}
	.board_info_wrap .search_wrap {margin-top:6px;}
	.board_info_wrap .search_wrap .select_form {margin-bottom:5px; display:block;}
	.board_info_wrap .search_wrap .select_form select {width:100%;}
	.board_info_wrap .search_wrap input[type='text'] {width:100%; margin-left:0;}
	.board_info_wrap .search_wrap .btn_search {top:37px;}

	/* paging */
	.paging, .btnSection {margin-top:25px;}
	.paging > div > * {width:24px; height:24px; font-size:12px; line-height:22px;}
	.paging .prev {margin-right:10px;}
	.paging .next {margin-left:10px;}
	.paging .next:before, .paging .last:before, .paging .last:after {margin-left:-2px;}
	.paging .first:before, .paging .first:after, .paging .prev:before {margin-right:-2px;}

	/* button */
	[class*='btn_min'] {height:22px; line-height:20px;}
	[class*='btn_mid'] {height:30px; line-height:28px;}
	[class*='btn_large'] {height:34px; font-size:14px; line-height:32px;}

	/* board */
	[class*='board_type_list'] > ul > li {position:relative; display:block;}
	[class*='board_type_list'] > ul > li > * {display:inline-block;}
	[class*='board_type_list'] > ul > li > .subject {display:block;}
	
	.board_type_list01 {text-align:left;}
	.board_type_list01 > ul.header {display:none;}
	.board_type_list01 > ul > li {padding:5px;}
	.board_type_list01 > ul > li > * {height:inherit; padding:0; font-size:12px; line-height:1.5;}
	.board_type_list01 > ul > li > .subject {font-size:14px;}
	.board_type_list01 > ul > li > .w_date {width:70px;}

	.board_type_gallery ul.body > li {width:100%;}
	.board_type_gallery .board_cont > * {font-size:13px;}
	.board_type_gallery .board_cont .subject {font-size:15px;}

	.board_type_toggle > dt:before, .board_type_toggle > dd:before {font-size:20px; left:10px;}
	.board_type_toggle > dt a {font-size:14px;}
	.board_type_toggle > dt a, .board_type_toggle > dd {padding-left:35px;}
	.board_type_toggle > dd {font-size:12px;}

}
